.footer {
    font-family: 'Cairo', sans-serif;
    text-align: center;
    color:white;
    background-color: rgb(61, 58, 60);
    background-size: cover;
    font-size: 100%;

}
@media (max-width:576px){
    .footer{
        font-size: 60%;
    }

}

.footer_contacto{
    margin: 10px;
    padding: 25px;
    align-self: flex-start;
    font-family: 'Cairo', sans-serif;
    font-size: 100%;
   
}

.footer_redes{
    margin: 10px;
    padding: 25px;
    align-self: flex-start;
    justify-content: space-between;
}
i{
    justify-content: space-between;
    padding: 15px;  
}

i:hover{
    color: rgb(135, 90, 172);
}

.footer_copyright{

    font-family: 'Cairo', sans-serif;
    font-size: 100%;
    text-align: center;
    margin: 10px;
    padding: 25px;
}