@charset "UTF-8";
.cabecera {
  margin: 0%;
  padding-left: 40px;
  padding-top: 30px;
  padding-bottom: 50px;
  padding-right: 20px;
  background-color: white;
}

.menú {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 50px;
}

li {
  padding: 10px;
  font-family: 'Maven Pro', sans-serif;
  font-size: 120%;
}

a:link {
  color: #464749;
}

a:visited {
  color: #2b3a7a;
}

a:hover {
  color: #875aac;
}

.footer {
  font-family: 'Cairo', sans-serif;
  text-align: center;
  color: white;
  background-color: #3d3a3c;
  background-size: cover;
  font-size: 100%;
}

@media (max-width: 576px) {
  .footer {
    font-size: 60%;
  }
}

.footer_contacto {
  margin: 10px;
  padding: 25px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-family: 'Cairo', sans-serif;
  font-size: 100%;
}

.footer_redes {
  margin: 10px;
  padding: 25px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

i {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
}

i:hover {
  color: #875aac;
}

.footer_copyright {
  font-family: 'Cairo', sans-serif;
  font-size: 100%;
  text-align: center;
  margin: 10px;
  padding: 25px;
}

.formulario {
  background-color: #fbf3fd;
  font-family: 'Cairo', sans-serif;
  font-size: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  border-radius: 5px;
  padding: 20px;
}

/* Style inputs, select elements and textareas */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Style the submit button */
input[type=submit] {
  background-color: #3b69be;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

.text_anaglyphic {
  color: blueviolet;
  text-shadow: -2px -2px 0 #caa4f1;
  text-align: center;
  font-size: 70px;
  font-family: 'Cairo', sans-serif;
  padding: 15px;
}

.titulos {
  color: blueviolet;
  text-shadow: -2px -2px 0 #caa4f1;
  text-align: center;
  font-size: 40px;
  padding: 5%;
  font-family: 'Cairo', sans-serif;
}

.subtitulos {
  color: #e6388f;
  text-align: center;
  font-size: 150% solid;
  font-family: 'Cairo', sans-serif;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.subtitulos:hover {
  font-size: 180%;
}

@media (max-width: 576px) {
  .text_anaglyphic {
    font-size: 200%;
  }
}

.carrusel-slide {
  padding: 5%;
  padding-top: 20%;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  border-style: dashed;
}

.display-4 .section-1 {
  height: 150px;
  width: 100%;
  background-color: white;
}

.display-4 .section-2 {
  height: 150px;
  width: 100%;
  background-color: pink;
}

.display-4 .section-3 {
  height: 150px;
  width: 100%;
  background-color: #d2c3d6;
}

.card-deck {
  padding-bottom: 40px;
}

.card {
  background-image: white;
  border: color blueviolet;
  margin: 10px;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

.card-text {
  color: #4e3a46;
  font-family: 'Cairo', sans-serif;
  text-align: center;
}

.jumbotron {
  background-color: white;
  font-family: 'Cairo', sans-serif;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

.display-4 {
  font-family: 'Cairo', sans-serif;
  font-size: 140%;
}

.lead {
  font-family: 'Cairo', sans-serif;
  font-size: 120%;
  text-align: center;
  border: solid blueviolet;
  padding: 10px;
  color: #645d61;
}

@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.dirección {
  margin: 10px;
}

.linea {
  color: #645d61;
  text-align: center;
  font-size: 20px;
  font-family: 'Cairo', sans-serif;
  padding: 15px;
}
/*# sourceMappingURL=archivo.css.map */