@import "header";
@import "footer";
$violeta: rgb(138,43,226);

.text_anaglyphic {
    color: $violeta;
    text-shadow: -2px -2px 0 #caa4f1;
    text-align: center;
    font-size: 70px;
    font-family:  'Cairo', sans-serif;
    padding: 15px;
}
.titulos {
    color:$violeta;
    text-shadow: -2px -2px 0 #caa4f1;
    text-align: center;
    font-size: 40px;
    padding: 5%;
    font-family:  'Cairo', sans-serif;
}
.subtitulos {
    color: rgb(230, 56, 143);
    text-align: center;
    font-size: 150% solid;
    font-family: 'Cairo', sans-serif;
    transition: all 1s;
}
.subtitulos:hover{
    font-size: 180%;
}
@media (max-width:576px) {
    .text_anaglyphic{
        font-size: 200%;

    }
}
.carrusel-slide{
    padding: 5%;
    padding-top: 20%;
    animation-name: aparecer;
    animation-duration: 2s; 
    border-style: dashed;  
}

   
.display-4{
    @for $i from 1 through 3 {
        .section-#{$i} {
            height: 150px;
            width: 100%;
            @if $i == 1 {
                background-color: white;
            } @else if $i == 2 {
                background-color: pink;
            } @else {
                background-color: rgb(210, 195, 214);
            }
        }
    }
}

.card-deck{
    padding-bottom: 40px;
}
.card {
    background-image:white;
    border: color rgb(138,43,226);
    margin: 10px;
    animation-name: aparecer;
    animation-duration: 3s;

   
}


.card-text{
    color:rgb(78, 58, 70);
    font-family: 'Cairo', sans-serif;
    text-align: center;

}

.jumbotron {
    background-color:rgb(255, 255, 255);
    font-family: 'Cairo', sans-serif;
    animation-name: aparecer;
    animation-duration: 3s;
}  
.display-4{
    font-family: 'Cairo', sans-serif;
    font-size: 140%;

}
.lead{
    font-family: 'Cairo', sans-serif;
    font-size: 120%;
    text-align: center;
    border: solid $violeta;
    padding: 10px;
    color: rgb(100, 93, 97);

}



@keyframes aparecer{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.dirección{
    margin: 10px;
}
.linea{
    color: rgb(100, 93, 97);
    text-align: center;
    font-size: 20px;
    font-family: 'Cairo', sans-serif;
    padding: 15px;
}

.formulario{
    background-color:white;
    font-family: 'Cairo', sans-serif;
    font-size: 100%;
    align-items: center;
    padding: 20px;
    align-content: space-between;
    
}
label{
    padding: 10px;
    text-align: center;
}